@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* body {
    background-color: #00004A;
    padding: 0;
    margin: 0;
} */
h4 {
    text-align: center;
    color: rgb(10, 10, 10);
}
.opcoes {
    margin:10px auto;
    padding:0;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap:10px;
    width: 80%;
}
ul.opcoes li {
    display: grid-item;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color:#F57F17;
    color: #fff;
}
ul.opcoes li:hover {
    cursor: pointer;
}
.footer,
.push {
  height: 50px;
}

html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }

  footer {
    position: fixed;
    height: 10em;
    bottom: 0;
    width: 100%;
}