@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

#svg-buttons {
	width: 616px;
	height: 400px;
	margin: auto;
	text-align: left;
}

#slider {
	width: 100%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
}

#slider .slide {
	display: inline-block;
	height: 100%;
	width: 0;
	overflow: hidden;
	-webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 300;
  white-space: normal;
}

#slider .slide.showing {
	width: 100%;
}

.slide-content {
	padding: 30px 40px;
}

.slide-content h2, .slide-content h3 {
	font-weight: 300;
	line-height: 1.5;
}

.slide-content a {
	text-decoration: underline;
	color: #fff;
}

.slide-content a:hover {
	font-style: italic;
}

.slide-content a.btn-huge {
	text-decoration: none;
	margin-top: 20px;
}

.slide-content a.btn-huge:hover {
	font-style: normal;
}

.slide-content b {
	font-weight: 400;
}

#slide-nav div {
	text-align: center;
	padding: 3px 0;
	color: #fff;
	background-color: #333;
	cursor: pointer;
}

#slide-nav div.grey {
	background-color: #888;
	cursor: not-allowed;
}

div#slide-counter {
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	cursor: auto;
}
