svg {
  cursor: default;
  display: block;
  margin: auto;
}

.edge {
  stroke: #888;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.edge:hover {
  stroke: #333;
  stroke-width: 3px;
}

.vertex {
  cursor: pointer;
}

.vertex:hover {
  stroke: #333;
  opacity: 0.8;
}

#prob-list a {
  cursor: pointer;
  margin-left: 8px;
  border: 3px solid #ccc;
  color: #333;
}

#prob-list a.prob-current {
  border-color: #1f77b4;
}
