svg {
  cursor: crosshair;
  display: block;
  margin: auto;
}

.edge {
  stroke: #888;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.edge:hover,
.dragLine {
  stroke: #333;
  stroke-width: 3px;
}

.vertex {
  cursor: pointer;
}

.vertex:hover {
  stroke: #333;
  opacity: 0.8;
}

.dragLine.hidden {
  stroke-width: 0;
}
